@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F4FF;
  width: 100%;
 
  background-image: url("../public/Group4.png");
  background-size: 80%,500px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y:0px;

}
@media screen and (max-width:750px){
  body{
    background-position-y: 50px;
    background-size: 100%,900px;
    background-size: contain;
  }
}
#root{
  overflow-x: hidden;
}

.title{
  font-family: 'Customstyle'; 
  src: url('../fonts/euclid-circular-9.ttf') format('ttf');
  font-weight:600;
  font-size: 90px;
  line-height: 104px;
    
}
.sub-text{
  font-family: 'Customstyle'; 
  src: url('../fonts/SF/SF-Pro-Text-Regular.otf') format('otf');
  font-weight:400;
  font-size: 24px;
  line-height: 36px;
}
.sec1-title{
  font-family: 'Customstyle'; 
  src: url('../fonts/SF/SF-Pro-Text-Regular.otf') format('otf');
  font-weight:400;
  font-size: 24px;
  line-height: 36px;
}
.card-title{
  font-family: 'Customstyle'; 
  src: url('../fonts/euclid-circular-9.otf') format('otf');
  font-weight:600;
  font-size: 24px;
  line-height: 30px;
}
.card-subtext{
  font-family: 'Customstyle'; 
  src: url('../fonts/SF/SF-Pro-Text-Regular.otf') format('otf');
  font-weight:400;
  font-size: 15px;
  line-height: 24px;
}
.card{
  box-shadow: 0px 24px 30px 0px #00000012;

}
.section-title{
  font-family: 'Customstyle'; 
  src: url('../fonts/euclid-circular-9.otf') format('otf');
  font-weight:600;
  font-size: 40px;
  line-height: 46px;
}
.sub-text2{
  font-family: 'Customstyle'; 
  src: url('../fonts/SF/SF-Pro-Text-Regular.otf') format('otf');
  font-weight:400;
  font-size: 18px;
  line-height: 26px;
}
.bg-section{
  background-image: url("../public/background1.png");
}
.sub-text3{
  font-family: 'Customstyle'; 
  src: url('../fonts/euclid-circular-9.otf') format('otf');
  font-weight:600;
  font-size: 40px;
  line-height: 46px;
}
.btn{
  font-family: 'Customstyle'; 
  src: url('../fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Medium.ttf') format('ttf');
  font-weight:500;
  font-size: 18px;
  line-height: 25px;
}
.img{


}
.box-alert{
  background: linear-gradient(90deg, rgba(180, 175, 175, 0.945) 0%, rgba(229,232,235,0.2413340336134454) 36%);
}
.section{
  padding: 60px;
}
@media screen and (max-width:500px){
  .section{
    padding:24px, 16px, 24px, 16px !important;
  }
}
a{
  cursor: pointer;
}
textarea{
  max-width: 278px;
  min-width: 278px;
  min-height: 200px;
  max-height: 200px;
}